@inject IBluetoothService _bluetoothService
@inject IPopupService _popupService
@inject ILocalDataService _localDataService


<MCard Class="h-100">
    <MCardTitle>设置速度</MCardTitle>
    <MCardText>
        <div class="row">
            <div class="col-12 col-sm-6 pt-0 pb-0">
                <MTextField Label="A电机速度" @bind-Value="SpeedA" TValue="string"></MTextField>
            </div>
            <div class="col-12 col-sm-6 pt-0 pb-0">
                <MTextField Label="B电机速度" @bind-Value="SpeedB" TValue="string"></MTextField>
            </div>
            <div class="col-12 col-sm-6 pt-0 pb-0">
                <MTextField Label="C电机速度" @bind-Value="SpeedC" TValue="string"></MTextField>
            </div>
            <div class="col-12 col-sm-6 pt-0 pb-0">
                <MTextField Label="D电机速度" @bind-Value="SpeedD" TValue="string"></MTextField>
            </div>
        </div>
    </MCardText>
    <MCardActions>
        <MSpacer />
            <BluetoothWeb.Shared.Components.CustomMasa.MasaButton Text="清零" Icon="mdi-pause" IsAsync OnClick="Stop" TextStyle />
            <BluetoothWeb.Shared.Components.CustomMasa.MasaButton Text="设置" Icon="mdi-play" IsAsync OnClick="SetValue" TextStyle />
    </MCardActions>
</MCard>

@code {
    public string SpeedA { get; set; }
    public string SpeedB { get; set; }
    public string SpeedC { get; set; }
    public string SpeedD { get; set; }

    public bool IsSet { get; set; }

    public async Task Stop()
    {
        await _bluetoothService.SendString("C\0");
    }

    public async Task SetValue()
    {
        await _bluetoothService.SendString($"B{SpeedA}{SpeedB}{SpeedC}{SpeedD}\0");

        await _popupService.ToastInfoAsync("设置成功");

    }

}
