@page "/"
@inject IBluetoothService _bluetoothService
@implements IDisposable

<TitleTip Title="主页"></TitleTip>

<div class="row mb-8">
    <div class="col-12 col-md-6">
        <BluetoothWeb.Shared.Components.Bluetooth.InforCard />
    </div>
    <div class="col-12 col-md-6">
        <BluetoothWeb.Shared.Components.Bluetooth.LogsCard />
    </div>
    @if (DeviceInfor != null)
    {
        <div class="col-12 col-md-6">
            <BluetoothWeb.Shared.Components.Bluetooth.SendDataCard />
        </div>
        <div class="col-12 col-md-6">
            <BluetoothWeb.Shared.Components.Bluetooth.ReceiveDataCard />
        </div>
        <div class="col-12 col-md-6">
            <BluetoothWeb.Shared.Components.Bluetooth.ChartsCard />
        </div>
    }
</div>

@code{
    public DeviceInforModel DeviceInfor { get; set; }

    protected override async Task OnInitializedAsync()
    {
        _bluetoothService.OnDeviceChanged += DeviceChanged;
    }


    public void DeviceChanged(DeviceInforModel model)
    {
        DeviceInfor = model;
        StateHasChanged();
    }

    public void Dispose()
    {
        _bluetoothService.OnDeviceChanged -= DeviceChanged;
    }
}